*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.conteiner{
    width: 500px;
    height: 700px;
    /* border: 2px solid black; */
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}
.output input{
width: 500px;
height: 70px;
font-size: 50px;
text-align: end;
border-radius: 20px;
}
.keys{
    width: 450px;
    height: 600px;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    border-radius: 5px;
    gap: 16px;
    margin-top: 10px;
    
}
.keys button{
    font-size: 50px;
    border-radius: 10px;
    cursor: pointer;
    transition: 300ms;

}
.keys :hover{
    background-color: blueviolet;
    color: white;
}